<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<!-- Главный блок TestNG: описывает набор тестов -->
<suite name="Test Suite">

    <!-- Один логический запуск (можно добавить несколько тестов внутри одной suite) -->
    <test name="Login and Price Tests">

        <!-- Указываем, какие именно тестовые классы запускать -->
        <classes>
            <!-- Тест авторизации -->
            <class name="tests.loggingtest.Successfull_Login"/>

            <!-- Тест подсчёта суммы в корзине -->
            <class name="tests.pricesumtest.PriceSumTest"/>

            <!-- Тест авторизации с некорректным паролем -->
            <class name="tests.wrongpasswordlogin.LoginWithWrongPassword"/>

            <!-- Тест авторизации заблокированного пользователя locked out user -->
            <class name="tests.lockedoutuserlogin.LockedOutUserLogin"/>

            <!-- Тест авторизации с пустыми значениями логина и пароля -->
            <class name="tests.loginwithemptycredentials.LoginWithEmptyCredentials"/>


            <!-- Тест авторизации для performance_glitch_user -->
            <class name="tests.performanceglitchlogin.PerformanceGlitchLogin"/>

        </classes>

    </test>
</suite>